/* Reset toàn trang */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #fff;
  font-family: "Poppins", sans-serif;
}


body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow-x: hidden;
}