/*DASHBOARD TỔNG QUAN */
.dashboard {
  padding: 40px;
  color: #000;
  background: #ffffff;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

.dashboard h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.dashboard p {
  text-align: center;
  color: #bbb;
  font-size: 15px;
  margin-bottom: 30px;
}

/*HÀNG CHỨA THẺ THỐNG KÊ */
.stats-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  justify-content: center;
}

/*THẺ THỐNG KÊ */
.stat-card {
  background: #828282;
  border-radius: 12px;
  padding: 22px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.2s ease;
}

/* hiệu ứng nhẹ khi hover */
.stat-card:hover {
  background: #1a1a1a;
}

/*NỘI DUNG TRONG THẺ */
.stat-title {
  color: #aaa;
  font-size: 15px;
  font-weight: 500;
}

.stat-value {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-top: 6px;
}

.stat-icon {
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*RESPONSIVE */
@media (max-width: 600px) {
  .stat-value {
    font-size: 22px;
  }

  .stats-row {
    grid-template-columns: 1fr 1fr;
  }
}
