/*Layout tổng */
.admin-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background: #f9fafb;
}

.admin-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 24px;
}

.admin-footer {
  text-align: center;
  color: #6b7280;
  font-size: 14px;
  margin-top: 24px;
}

/*Sidebar */
.admin-sidenav {
  width: 240px;
  background: #ffffff;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-right: 1px solid #e5e7eb;
}

.sidenav-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidenav-logo {
  height: 48px;
  border-radius: 8px;
}

.sidenav-title {
  font-weight: 600;
  font-size: 19px;
}

.sidenav-title span {
  color: #3b82f6;
}

.sidenav-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.sidenav-menu a {
  color: #1f2937;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background 0.2s ease, color 0.2s ease;
}

/* Hover và active */
.sidenav-menu a:hover,
.sidenav-menu a.active {
  background: #e0f2fe;
  color: #1d4ed8;
}

/*Navbar */
.admin-navbar {
  background: rgb(163, 160, 160);
  padding: 14px 24px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 7px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background: #f3f4f6;
  font-size: 14px;
}

.icon-btn {
  background: #f3f4f6;
  border: none;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
}

.icon-btn:hover {
  background: #e5e7eb;
}

/*Avatar + Dropdown */
.navbar-avatar-wrapper {
  position: relative;
}

.navbar-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ddd;
}

/*Dropdown */
.avatar-dropdown {
  position: absolute;
  top: 42px;
  right: 0;
  background: #333;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 130px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

/* Các nút trong dropdown */
.dropdown-item {
  padding: 8px 14px;
  border: none;
  background: none;
  text-align: left;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f3f4f6;
}

.dropdown-item.logout {
  color: #ee0808;
  font-weight: 500;
}

.dropdown-item.logout:hover {
  background: #ffe8e8;
}

/*Responsive */
@media (max-width: 1024px) {
  .admin-sidenav {
    display: none;
  }
}
